<!DOCTYPE html>
<html>
  <head>
    <script src="../javascript/services.js"></script>
    <script src="../javascript/lib/migrator/migrator.js"></script>
    <script src="../javascript/store.js"></script>
    <script src="../javascript/downloader.js"></script>
    <style>
      body {
        min-width:357px;
        overflow-x:hidden;
      }

      img {
        margin:5px;
        border:2px solid black;
        vertical-align:middle;
        width:75px;
        height:75px;
      }
    </style>
  </head>
  <body>
    Performing backup:<br/>
    <div id="log"/>
    </body>
    <script>
      var logDiv = document.getElementById('log');
      function logger(msg) {
        logDiv.innerHTML += msg;
      }

      process_downloads(logger);
    </script>
  </html>
